{% extends "base.html" %}
{% block app_content %}
<h1>Hi, {{ current_user.username }}!</h1>

<h2>Your Favorites</h2>
{% if current_user.favorited_snacks %}
    <ul class="list-unstyled">
        {% for snack in current_user.favorited_snacks.limit(snacks_per_page).all() %}
        <li>
            <strong><a href="{{ url_for('snack', snack_id=snack.id) }}">{{ snack.name }}</a></strong>
            - Category: {{ snack.category }}
            <br>
            Submitted on {{ snack.timestamp.strftime('%Y-%m-%d %H:%M') }}
            {% if snack.favorited_by %}
                <br>
                Favorited by {{ snack.favorited_by.count() }} users
            {% endif %}
            <hr>
        </li>
        {% endfor %}
    </ul>
{% else %}
    <p>You have no favorite snacks yet.</p>
{% endif %}
{% endblock %}
