<!-- Erweitert das Basislayout für einheitliche Gestaltung -->
{% extends "base.html" %}

{% block app_content %}
    <!-- Anzeige des Benutzerprofils -->
    <div class="user-profile">
        <!-- Benutzeravatar -->
        <img src="{{ user.avatar(128) }}" alt="User Avatar">
        <h1>User: {{ user.username }}</h1>
        <!-- Über mich und letzte Sichtung, wenn vorhanden -->
        {% if user.about_me %}
            <p>{{ user.about_me }}</p>
        {% endif %}
        {% if user.last_seen %}
            <p>Last seen on: {{ user.last_seen.strftime('%Y-%m-%d %H:%M') }}</p>
        {% endif %}
        <!-- Link zur Profilbearbeitung für den aktuellen Benutzer -->
        {% if user == current_user %}
            <p><a href="{{ url_for('edit_profile') }}">Edit your profile</a></p>
        {% endif %}
    </div>
    
    <!-- Anzeige der vom Benutzer favorisierten Snacks -->
    <h2>{{ user.username }}'s Favorites</h2>
    {% if user.favorited_snacks %}
        <ul class="list-unstyled">
            {% for snack in user.favorited_snacks %}
                <li>
                    <!-- Name, Kategorie und durchschnittliche Bewertung jedes favorisierten Snacks -->
                    <strong><a href="{{ url_for('snack', snack_id=snack.id) }}">{{ snack.name }}</a></strong>
                    <br>
                    Category: {{ snack.category }}
                    <br>
                    Average Rating: {{ snack.average_rating()|round(2, 'floor') if snack.average_rating() else "No ratings yet" }}
                    <hr>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>{{ user.username }} has no favorite snacks yet.</p>
    {% endif %}
{% endblock %}
